#game_start_container {
  color: white;
  font-size: 2em;
  display: block;
  text-align: center;
  background: green;
  width: 400px;
  padding: 1em;
  margin: 5em auto;
}
#game_container__inner {
  color: white;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}
#loading {
  color: white;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
  display: none;
}
.hands-run{
    position: absolute;
    right: 20px;
    top: 0;
    width: 30px;
    height: 30px;
    animation: run 1s infinite;
}
@keyframes  run{
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(0px, 50px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}